# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
src-tauri/target/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/

# Temp
.temp
.tmp
